{% extends 'main/base.html'%}
{% block title %}
О проекте
{% endblock %}
{% block content %}
<div class="container" style="margin-bottom: 200px;">

    <p>

  <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Ход событий, для лога:
  </button>
</p>
<div class="collapse" id="collapseExample">
<!--  <div class="card card-body">-->
    <ol>
      <li>Изначально была необходимость как-нибудь автоматизировать процесс создания неисправностей по КМО. Уход от бумажной волокиты, которую потом агрегировали в журнал, и заносили в электронный вид (файл Excel насколько я понял)

    Как такового Технического задания(далее ТЗ) не было, все уместилось в двух-трех предложениях, и одной картинкой "формы заполнения неисправности"
     (рис ниже)
        <br>
        <div class="img_div">
            <img class="img_about" src="/media/about/1rv.png" alt="">
        </div>

          <p style="background: yellow;">Окно формирования базы данных. Либо в мобильном приложении либо с ПК через нее будет заполняться база данных. В выпадающих списках в разделе "Неисправность" будет содержаться информация с классификатора. Нужно потом продумать какие списки будут связанными - я это продумаю. Пока делаем только для Астраханского филиала. Далее с базы данных должна формироваться автоматически форма Акта КМО (Приложил). я думаю в PDF.</p>
    <p>Потом уже прислали эксель файл со списком неисправностей по Службе Пути (далее СП) (называете классификатором), и графический шаблон формы неисправности (поля, привязка и т.д.) (декабрь месяц)
     (рис ниже)
          <p></p>
          <div class="img_div">
            <img class="img_about" src="/media/about/2rv.png" alt="">
        </div>

        <h3 style="background: yellow;">Никаких рекомендаций не было, в плане языка программирования, оболочки приложения, софты, скилы и т.д.</h3>
    </p>
      </li>
      <li>идеальным решением было бы сделать все в рамках мобильного приложения, но языка андроид/ios разработки я не знаю. Исходя из своих знаний(python) и возможностей, я сразу определил, что можно данный функционал реализовать в виде веб-приложения(как те же Оптимакрос, Сфера и Тесса). В свою очередь, мощным инструментом в данной нише является фреймворк Django, его я и принялся изучать

    После 10 дней самостоятельного обучения данного фреймворка, я принялся за разработку.
    </li>
      <li>Изучив мини-ТЗ, я понял, что оно имеет изъяны, которые породят проблемы при разработке и масштабировании всего приложения.
    а) хотели просто список неисправностей, с общими данными привязки к филиалу и станции и кнопкой "создать новую неисправность"
    б) нужна была кнопка, которая собирала БЫ все неисправности по текущему месяцу... А как учесть по какому филиалу хотят?
    </li>
    </ol>
<!--  </div>-->
</div>

<h2 class="ccenter">Возможности</h2>
<ul>


<h5>Авторизованный Юзер:</h5>
<li>- регистрация, авторизация;</li>
<li>- создание КМО;</li>
<li>- создание/редактирование/удаление неисправностей КМО;</li>
<li>- добавление членов комиссии;</li>
<li>- утверждение КМО(только для председателей);</li>
<li>- устранение неисправностей;</li>
<li>- формирование акта КМО(Excel);</li>
<li>- генерация QR-кодов по стрелочным переводам и путям;</li>
<h5>Администратор:</h5>
<li>- возможности авторизованного юзера;</li>
<li>- все CRUD-операции по всем имеющимся таблицам;</li>
<li>- назначение прав, ролей, групп доступа;</li>
<li>- загрузка большинство справочников в автоматическом режиме из Excel файлов (филиалы, станции, стрелки, пути, должности, неисправности и т.д.), формат приложен в иерархии приложения, папка BS</li>
<li>- назначение ответственных по филиалу и службе;</li>
<li>- назначение председателей (признак в таблице работник "является председателем");</li>
<li>- назначение членов комиссии (по логике председателей);</li>
<h5>Приложение:</h5>
<li>-Реализован полноценный адаптив под любые экраны(от 320px);</li>
<li>-table_responsive;</li>
<li>-своя админка;</li>
<li>-пагинация;</li>
</ul>
<h2 class="ccenter">Логика</h2>
<ul>


<h5>Данное веб-приложение предусматривает регистрацию, авторизацию  и идентификацию пользователей(в отдельных случаях удаления данных), иначе доступ к основному функционалу закрыт.</h5>
<h4>Каждый "пользователь" привязывается к таблице "работник" администратором</h4>
<li>- Создать КМО может любой авторизованный пользователь(можно настроить, что не любой, или только по спец.роли);</li>
<li>- Возможность создания дубля кмо исключена(в одном Периоде и филиале может быть создан только 1 экземпляр КМО);</li>
<li>- Удалить КМО невозможно(только по спец роли);</li>
<li>- В карточке кмо разбиты неисправности по службам(закладки Служба СП, Служба СЦБ, Служба СПиМР) для удобства. А так же есть отдельная закладка "Члены комиссии";</li>
<li>- после добавления неисправности, поле ответственный заполняется автоматически, исходя из данных создателя(определяется должность, служба, а по ней ответственный(определяется в справочнике ответственных));</li>
<li>- при выборе филиала, поле станции автоматически фильтруется по привязке, аналогично и с остальными зависимыми полями (выбрали станцию, покажет стрелки только по этой станции);</li>
<li>- У карточки кмо есть понятие "состояние", оно подсвечивается определённым цветом и текстом.
После создания кмо, состояние является "оформляется" цвет синий
;</li>
<li>- Как только ввод неисправностей закончен, необходимо нажать кнопку "Утверждение", она доступна только для председателя данного КМО, и служит для блокировки добавления, редактирования и удаления неисправностей данного КМО;</li>

<li>- После утверждения будет доступна кнопка "устранение" по каждой неисправности;</li>
<li>- Пока кмо не утверждён, устранять неисправности не получится;</li>
<li>- если неисправность не устранили в установленный срок, строчка подсвечивается красным цветом (иначе зелёным);</li>
<li>- сгенерировать qr-код можно только один раз на один "объект". Полученный qr-код содержит в себе зашифрованную информацию в виде ссылки на все неисправности, которые регистрировались в КМО по данному объекту, а так же ссылку на последний КМО. Если неисправностей не было, то получите соответствующее сообщение(об отсутствии неисправностей)</li>
</ul>
<h2 class="ccenter">В разработке (в планах)</h2>
<ul>

<li>- Настройка фильтров на табличные данные(день-два);</li>
<li>- вывести часть справочников(с операциями CRUD) в интерфейс приложения(3-4 дня);</li>
<li>- дополнить личный кабинет пользователя(аватрка, данные по профессии)(1 день) ;</li>
<li>- создать раздел "<b>обращения</b>" (2 дня);</li>
<li>- отстилизовать сайт(при наличии пожеланий)(~2 дня);</li>
<li>- создать и внедрить функционал назначения нарядов по неисправностям(зависит от ТЗ, ~ 7 дней);</li>
</ul>
    Подробнее о проекте со скриншотами в файле = >
    <a href="/media/about/manual_kmo.docx" download >Скачать</a>
    <br>
    UML-диаграмму архитектуры БД смотрите во вложении = >
    <a href="/media/about/UML_KMO.pdf" download >UML-диаграмма</a>
</div>
{% endblock %}

{% block li-kmo %}
text-white
{% endblock %}
{% block li-home %}
text-white
{% endblock %}
{% block li-bs %}
text-white
{% endblock %}
{% block li-about %}
text-secondary
{% endblock %}