{% extends 'main/base.html'%}
{% block title %}
О проекте
{% endblock %}
{% block content %}
<style> body { font-family: 'Open Sans', sans-serif; background-color: #fafafa; color: #333; } h1, h2, h3 { font-family: 'Montserrat', sans-serif; text-align: center; } .container1 { margin: auto; margin-top: 15px; margin-bottom: 200px; max-width: 800px;  padding: 50px 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); background-color: white; border-radius: 10px; } .features { display: flex; justify-content: space-between; align-items: stretch; flex-wrap: wrap; } .feature-card { width: 48%; margin-bottom: 20px; padding: 20px; background-color: #f9f9f9; border: 1px solid #ddd; border-radius: 5px; } .feature-card .card-title { font-size: 18px; font-weight: bold; margin-bottom: 10px; } .feature-card ul { list-style-type: none; padding-left: 0; } .feature-card li::before { content: "\2713\0020"; color: #28a745; } .feature-card li { margin-bottom: 5px; } .feature-desc { font-size: 16px; line-height: 1.5; } @media screen and (max-width: 768px) { .feature-card { width: 100%; } } </style>
<div class="container1">
    <h1>Возможности</h1>

    <div class="features">
        <div class="feature-card">
            <div class="card-title">Авторизованный пользователь:</div>
            <ul>
                <li>Регистрация и авторизация;</li>
                <li>Создание КМО;</li>
                <li>Создание, редактирование и удаление неисправностей КМО;</li>
                <li>Добавление членов комиссии;</li>
                <li>Утверждение КМО (только для председателей);</li>
                <li>Устранение неисправностей;</li>
                <li>Формирование акта КМО (Excel);</li>
                <li>Генерация QR-кодов по стрелочным переводам и путям.</li>
            </ul>
        </div>

        <div class="feature-card">
            <div class="card-title">Администратор:</div>
            <ul>
                <li>Все функции авторизованного пользователя;</li>
                <li>Полный набор операций CRUD по всем таблицам;</li>
                <li>Назначение прав, ролей и групп доступа;</li>
                <li>Загрузка большинства справочников в автоматическом режиме из Excel-файлов (филиалы, станции, стрелочные переводы, пути, должности, неисправности и др.);</li>
                <li>Назначение ответственных лиц по филиалам и службам;</li>
                <li>Назначение председателей (признак в таблице «Работники» — «Является председателем»);</li>
                <li>Назначение членов комиссии (логически связанных с председателями).</li>
            </ul>
        </div>
    </div>

    <h2>Приложение</h2>
    <p class="feature-desc">Приложение полностью адаптировано под разные размеры экранов (включая мобильные устройства). Для удобства просмотра таблицы используются адаптивные решения. Также есть собственная административная панель и система пагинации.</p>

    <h2>Логика работы</h2>
    <p class="feature-desc">Работа с системой начинается с процесса регистрации и авторизации. Только после успешной авторизации пользователи получают доступ к основным возможностям системы. Каждый пользователь привязывается к таблице «Работники», этот процесс выполняется администратором.</p>

    <ul class="feature-desc">
        <li>Каждый авторизованный пользователь может создавать КМО, однако данная возможность может быть ограничена для некоторых ролей.</li>
        <li>Запрет на дублирование КМО: в одном периоде и филиале допускается создание только одной записи.</li>
        <li>Удаление КМО разрешено только пользователям с определённой ролью.</li>
        <li>Карточка КМО разделяется на вкладки по службам для упрощённого управления (например, «Служба СП», «Служба СЦБ», «Служба СПиМР»).</li>
        <li>При добавлении неисправности ответственный определяется автоматически на основе данных создателя (должность, служба и назначенные ответственные лица из справочников).</li>
        <li>Выбор филиала автоматически обновляет список доступных станций, аналогично для выбора станции и стрелочных переводов.</li>
        <li>Каждая карточка КМО имеет статус, который выделяется цветом и текстом. Сразу после создания КМО её статус обозначается как «Оформляется» (синий цвет).</li>
        <li>После завершения ввода неисправностей председатель подтверждает КМО, нажимая кнопку «Утверждение». Это действие предотвращает последующие изменения неисправностей в данной КМО.</li>
        <li>Устранение неисправностей возможно только после утверждения КМО.</li>
        <li>Неисправности, не устранённые в указанный срок, помечаются красным цветом, своевременно выполненные — зелёным.</li>
        <li>QR-код генерируется один раз для каждого объекта и шифрует ссылку на все зарегистрированные неисправности данного объекта, а также ссылку на последнюю версию КМО. Если неисправностей не существует, выводится соответствующее сообщение.</li>
    </ul>

    <h3>Планируемые доработки</h3>
    <ul class="feature-desc">
        <li>Настройка фильтров для табличных данных (2–3 дня);</li>
        <li>Интеграция операций CRUD для справочников непосредственно в интерфейс приложения (3–4 дня);</li>
        <li>Расширение функциональности личного кабинета пользователя (добавление аватарки, информация о профессии) (1 день);</li>
        <li>Разработка нового раздела «Обращения» (2 дня);</li>
        <li>Дополнительная стилистическая доработка интерфейса (по запросу) (~2 дня);</li>
        <li>Реализация возможности назначения нарядов по неисправностям (в зависимости от технического задания, ~7 дней).</li>
    </ul>

    <p class="feature-desc">Чтобы получить дополнительную информацию и скриншоты проекта, пожалуйста, скачайте соответствующий файл. Диаграмму UML базы данных можно найти во вложениях.</p>
    Подробнее о проекте со скриншотами в файле = >
    <a href="/media/about/manual_kmo.docx" download >Скачать</a>
    <br>
    UML-диаграмму архитектуры БД смотрите во вложении = >
    <a href="/media/about/UML_KMO.pdf" download >UML-диаграмма</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
{% endblock %}

{% block li-kmo %}
text-white
{% endblock %}
{% block li-home %}
text-white
{% endblock %}
{% block li-bs %}
text-white
{% endblock %}
{% block li-about %}
text-secondary
{% endblock %}