{% extends 'main/base.html'%}
{% block title %}
Главная страница
{% endblock %}
{% block content %}
<main class="flex-shrink-0">

    <div class="container">
      <h1 class="mt-5">Приветственное сообщение</h1>
      <h3 class="lead">Вы находитесь на портале <b>&ltГПТ-КоннекТ&gt</b> </h3>
      <h3 class="lead">Изначальная цель проекта - внедрение цифровых технологий в разные сферы деятельности <b>"ГазпромТранс"</b> </h3>
      <h3 class="lead">На данный момент реализовано: </h3>

        <ul>
            <li>регистрация, авторизация и аутентификация</li>
            <li>раздел справочников(филиалы, подразделения, должности, станции, объекты осмотра, элементы и т.д.)</li>
            <li>раздел КМО</li>
            <li>реализовано формирование акта КМО в PDF из карточки самого акта</li>
            <li>своя админка</li>
        </ul>
    <p>Просматривать основные данные можно только авторизованным пользователям, <b>создавать</b> и <b>редактировать</b> справочники можно только по спецроли(создаётся и раздаётся юзерам через админку), тоже самое касается КМО, <b>удалять</b> ТОЛЬКО создателям этих документов(при отсутвтсии признака "утверждено") или по спецРоли
</p>
    </div>
  </main>
{% endblock %}

{% block li-kmo %}
text-white
{% endblock %}
{% block li-home %}
text-secondary
{% endblock %}
{% block li-bs %}
text-white
{% endblock %}
{% block li-about %}
text-white
{% endblock %}