{% extends 'main/base.html'%}
{% load static %}
{% block title %}
{{title_view}}
{% endblock %}
{% block content %}
<div class="container" style="margin-bottom: 150px; margin-top: 20px;">

    <h2>Создание неисправности КМО</h2>
    <form id="form-container" method="post" style="margin-top: 10px; margin-bottom: 30px" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form_create_kmodet.media.js }}
<!--        <div style="display: flex; justify-content: space-around;flex-wrap: wrap;">-->
        <div style="display: flex; justify-content: space-around;flex-wrap: wrap;">
            <div class="general_info">
                <p style="font-size: 24px; text-decoration: underline;">Общие данные</p>
                <table class="table table-borderless">
                  <tbody>
                    <tr class="d-none">
                      <td >Создатель</td>
                      <td>{{ form_create_kmodet.s_update_user }}</td>
                    </tr>
                    <tr>
                      <td >Рег. № КМО</td>
                      <td>{{header_KMO_data.n_regnumber}}</td>
                    </tr>
                    <tr>
                      <td scope="row">Дата обнаружения</td>
                      <td>{{ form_create_kmodet.date_detection }}</td>
                    </tr>
                    <tr class="d-none">
                      <td scope="row">KMO</td>
                      <td>{{ form_create_kmodet.idkmo }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Филиал</td>
                      <td>{{header_KMO_data.iddepowner}}</td>
                    </tr>
                    <tr>
                      <td scope="row">Подразделение</td>
                      <td>{{ idDepartment }}</td>
                    </tr>
                    <tr class="d-none">
                      <td scope="row">Подразделение</td>
                      <td>{{ form_create_kmodet.iddepartment }}</td>
                    </tr>
                  </tbody>
                </table>

                <p style="font-size: 24px; text-decoration: underline;">Привязка</p>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td scope="row">Станция</td>
                      <td>{{ form_create_kmodet.idrwstation }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Перегон</td>
                      <td>{{ form_create_kmodet.idrwstage }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Путь</td>
                      <td>{{ form_create_kmodet.idrwway }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Стрелочный перевод</td>
                      <td>{{ form_create_kmodet.idrwsp }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Километр</td>
                      <td>{{ form_create_kmodet.idrwkilometr }}</td>
                    </tr>
                  <tr>
                      <td scope="row">Пикет</td>
                      <td>{{ form_create_kmodet.RW_picket }}</td>
                    </tr>
                  <tr>
                      <td scope="row">Звено</td>
                      <td>{{ form_create_kmodet.RW_unit }}</td>
                    </tr>
                  <tr>
                      <td scope="row">Нитка</td>
                      <td>{{ form_create_kmodet.RW_thread }}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="defect">
                <p style="font-size: 24px; text-decoration: underline;">Неисправность</p>
                <table class="table table-borderless">
                  <tbody>
                    <tr>
                      <td >Обект осмотра</td>
                      <td>{{ form_create_kmodet.idBs_Obj_insp }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Элемент</td>
                      <td>{{ form_create_kmodet.idBs_RW_element }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Группа неисправности</td>
                      <td>{{ form_create_kmodet.idBs_RW_defect_gr }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Неисправность</td>
                      <td>{{ form_create_kmodet.idBs_RW_defect_tp }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Срок устранения</td>
                      <td>{{ form_create_kmodet.date_elimination }}</td>
                    </tr>
                    <tr>
                      <td scope="row">Срок устранения изменить</td>
                      <td>{{ form_create_kmodet.date_elimination_edit }}</td>
                    </tr>

                  <tr>
                      <td scope="row">Величина неисправности</td>
                      <td>{{ form_create_kmodet.RW_size_def }}</td>
                    </tr>
                  <tr>
                      <td scope="row">Устранено</td>
                      <td>{{ form_create_kmodet.eliminated }}</td>
                    </tr>
                  <tr>
                      <td scope="row">Комментарий</td>
                      <td>{{ form_create_kmodet.comment }}</td>
                    </tr>
                  <tr>
                      <td scope="row">Ответственный</td>
                      <td>{{ form_create_kmodet.idresponsible }}</td>
                    </tr>
                  </tbody>
                </table>

            </div>
            <div class="defect-img" style="margin-bottom: 15px;">
                <p style="font-size: 24px; text-decoration: underline;">Фотография неисправности</p>
                <a href="/media/{{ form_create_kmodet.image_defect.url }}" target="_blank" style="text-decoration: none;">
                    <img src="/media/{{ form_create_kmodet.image_defect.url }}" alt="" style="max-width: 320px;">
                </a>
                {{ form_create_kmodet.image_defect }}
            </div>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
        <span>{{ error }}</span>
    </form>

</div>
{% endblock %}

{% block li-kmo %}
text-secondary
{% endblock %}
{% block li-home %}
text-white
{% endblock %}
{% block li-bs %}
text-white
{% endblock %}
{% block li-about %}
text-white
{% endblock %}